@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/** 'Creepster', sans-serif; 'Syne Mono', monospace; **/

/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh; /*Sera el 100% de la Altura de la pantalla*/
    background-image: url("../imagenes/bg-green-texture.jpeg");
    background-repeat: no-repeat; /*RB: he añadido esto*/
    background-size: cover; /*RB: he añadido esto*/
    background-position: center;
}

:root {
    /* Color Palette */
    --colorone: #141706;
    --colortwo: #8D9465;
    --colorthree: #BBC387;
    --colorfour: #F1FCAE;
    --colorfive: #dcd1be;
    --colorsix: #d8dac5;
    --colorseven: #a0a390;
}


body {
    
    background-image: url("../imagenes/background-green-texture.jpeg");
    background-repeat: no-repeat; /*RB: he añadido esto*/
    background-size: cover; /*RB: he añadido esto*/
    background-attachment: fixed;/*para que la altura de la imagen no supere a la del contenido */
    
    
}

.container {
    max-width: 100vw;
    height: 90vh;
    margin: auto;
    padding: 100px;
    display: grid;
    /*grid-gap: 10px;*/
    text-align: center;
    grid-template-areas:
        ". . . ."
        "img ti ti ti"
        "img play play play"
        ". . deat inst ";
       
}



@media only screen and (max-width: 700px) {
    .container {
        max-width: 100vw;
        height: 90vh;
        margin: auto;
        padding: 50px;
        grid-template-areas:
       "ti ti ti ti "
        "img img img img "
        ". play play ."
        ". . deat ."
        ". . inst . ";
        
    }
    
}


.imginicio{
    position: relative;
    width: 20rem;
    grid-area: img;
}

h1{
    font-family: 'Creepster', sans-serif;
    font-size: 3rem;
    color: var(--colorfive);
    grid-area: ti;
    justify-content: center;
   	margin:auto;

}
.of{
    font-family: 'Creepster', sans-serif;
    font-size: 2rem;
    color: var(--colorfive);
    grid-area: of;
    justify-content: center;
  
}
.doom{
    font-family: 'Creepster', sans-serif;
    font-size: 4rem;
    color: var(--colorfive);
    grid-area: doom;
    justify-content: center;
   
}


@media only screen and (min-width: 701px) {
    h1 {
        font-size: 5rem;
      
    }
}
/*
@media only screen and (max-width: 700px) {
    .imginicio {
        max-width: 60vw;
        width: 50vh;
        margin: 5px;
        padding: 0px;

    }
}
@media only screen and (max-width: 700px) {
    .button-play {
        max-width: 60vw;
        width: 50vh;
        margin: 5px;
        padding: 0px;
      
    }
}
@media only screen and (max-width: 700px) {
    .button-deat {
        max-width: 60vw;
        width: 50vh;
        margin: 5px;
        padding: 0px;
      
    }
}

@media only screen and (max-width: 700px) {
    .button-inst {
        max-width: 60vw;
        width: 50vh;
        margin: 5px;
        padding: 0px;
      
    }
}
*/
/*h1 span{
    font-family: 'Creepster', sans-serif;
    font-size: 2.25rem;
    color: var(--colorfive);
    grid-area: of;

}*/

/*h2 {
    font-size: 2.25rem;
    color: var(--colorfive);
}*/

.button-play {
    margin: 1rem auto;
    padding: 0.5rem 4rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colorthree);
    border: 3px solid var(--colorfour);
    grid-area: play;
}
/*se crean nuevos nombres con clase en botones*/
.button-deat{
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
    grid-area: deat;
}

.button-inst{
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
   grid-area: inst;
}
/*
.of{
    grid-area: of;
}

.doom{
    grid-area: doom;
}*/


/***** RECUPERACION BOTONES CSS STYLE ANTERIOR *******/

.big-button {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colorthree);
    border: 3px solid var(--colorfour);
}
.small-button {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
}