@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

/** 'Creepster', sans-serif; 'Syne Mono', monospace; **/
/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Syne Mono', monospace;
    text-decoration: none;
    /*border: 0;*/
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    /*Sera el 100% de la Altura de la pantalla*/
    background-image: url("../imagenes/bg-green-texture.jpeg");
    background-repeat: no-repeat;
    /*RB: he añadido esto*/
    background-size: cover;
    /*RB: he añadido esto*/
    background-position: center;
    /*RB: he añadido esto*/
    background-attachment: fixed;
}

h2 {
    color: var(--colorfive);
    font-size: 2.5rem;
}

:root {
    /* Color Palette */
    --colorone: #141706;
    --colortwo: #8D9465;
    --colorthree: #BBC387;
    --colorfour: #F1FCAE;
    --colorfive: #DCD1BE;
    --colorsix: #D8DAC5;
    --colorseven: #A0A390;
}

.container {
    max-width: 100vw;
    height: 90vh;
    margin: auto;
    padding: 100px;
    display: grid;
    /*grid-gap: 10px;*/
    text-align: center;
    grid-template-areas: "img ti ti ti"
        "img play play play"
        ". deat . inst ";
    align-items: center;
    justify-items: stretch;
    justify-content: center;
}

.imginicio {
    position: relative;
    width: 20rem;
    grid-area: img;
}

h1 {
    font-family: 'Creepster', sans-serif;
    font-size: 3rem;
    color: var(--colorfive);
    grid-area: ti;
    justify-content: center;
    margin: auto;
}

.of {
    font-family: 'Creepster', sans-serif;
    font-size: 2rem;
    color: var(--colorfive);
    grid-area: of;
    justify-content: center;
}

.doom {
    font-family: 'Creepster', sans-serif;
    font-size: 3rem;
    color: var(--colorfive);
    grid-area: doom;
    justify-content: center;
}

.button-play {
    margin: 1rem auto;
    padding: 0.5rem 4rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colorthree);
    border: 3px solid var(--colorfour);
    grid-area: play;
}

/*se crean nuevos nombres con clase en botones*/
.button-deat {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
    grid-area: deat;
}

.button-inst {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
    grid-area: inst;
}

/* se crean media para version movil y desktop*/
@media (max-width: 750px) {
    .container {
        max-width: 100vw;
        height: 90vh;
        margin: auto;
        padding: 50px;
        grid-template-areas:
            "ti ti ti ti "
            ". of . doom "
            "img img img img "
            ". play play ."
            ". . deat ."
            ". . inst . ";
        justify-items: center;
    }
}

/***** RECUPERACION BOTONES CSS STYLE ANTERIOR *******/
.big-button {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 2.5rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colorthree);
    border: 3px solid var(--colorfour);
}

.small-button {
    margin: 1rem auto;
    padding: 0.5rem 3rem;
    font-size: 1.25rem;
    border-radius: 1.25rem;
    color: var(--colorone);
    background-color: var(--colortwo);
    border: 3px solid var(--colorthree);
}

@media (max-width: 750px) {
    .imginicio {
        width: 12rem;
    }
}

@media (min-width: 751px) {

    h1,
    .doom {
        font-size: 7rem;
    }
}

@media (max-width: 750px) {
    .button-play {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .button-deat {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .button-inst {
        font-size: 15px;
    }
}


/* ----------------CHOOSE BUTTON ANIMATION--------------- */

@keyframes pulse {
    0% {
     transform: scale(1, 1);
    }

    50% {
     transform: scale(1.1, 1.1);
    }

    100% {
    transform: scale(1, 1);
    }
}

.big-button {
    animation: pulse 1s linear infinite;
}
